.group__text-contend {
    display:grid;
    justify-content: center;
    top: 20px; left: 10px;
    background-color: rgb(49, 36, 46);
    border-radius: 50em;
    margin: 2%;
    padding: 12%;
    flex-wrap: wrap;
    gap: 20px;
    height: 600px;
}
h3 {
    font-family: 'Anton' ;
    font-weight: 600; 
    font-size: 30px; 
    padding: 20px;
    margin: auto;
    line-height: 40px;
    justify-content: center;
    } 
    p {
        line-height: 30px;
        font-family: 'Josefin Sans', sans-serif; 
        display: grid;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px; 
        margin: auto;
        padding: 30px;
    }
