h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: start;
    margin-block-start: 5em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    top: 0px; left: 40px;
    
}
.header {
    margin: 0px;
    margin-bottom: 250px;
    padding: 0px 40px;
    background-image: url(../img/run-legs.jpeg);
    background-position: 63.65%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    gap: 20px;
}
.header__baner  p {
    color: black;
    display: flex;
    justify-content: start;
    margin-block-start: 5em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    flex-wrap: wrap;
    min-width: 600px;
    position: relative;
    top: 0px; left: 40px;
    font-size: 25px;
    font-family: 'Square Peg', cursive; 
}
.header__nav-menu {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Anton';
    height: 50px;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}