.img {
    width: 350px;
    justify-content: flex-end;
    display: block;
    }  
.personal__training {
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 40;
    color: rgb(250, 253,255);
    text-transform: none; 
    display: flex; 
    flex-direction: inherit;
    justify-content: center;
    height: 600px;
}
.list__content, ul {
    color:rgb(250, 253,255);
}