
h2 {
    font-family: 'Anton' ;
    font-weight: 600; 
    font-size: 30px; 
    padding: 30px;
    margin: auto;
    line-height: 30px;
    } 
.text-content {
    display: grid;
    top: 30px; left: 30px;
    background-color:rgb(49, 36, 46);
    border-radius: 50em;
    margin: 2%;
    padding: 5%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.list__content {
    color:rgb(250, 253,255);
    font-weight: 300;
    font-size: 20px;
    padding: 15px;
    margin: 1px;
    line-height: 20px;
    justify-content: center;
}
ul {
   font-family: 'Josefin Sans', sans-serif; 
   font-weight: 300;
   font-size: 15px; 
   line-height: 40px;
   margin: auto;
   justify-content:center;
}