.sport-icon {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
    border: 10px;
}
.sport-content {
    width: 430px;
    position: relative;
    bottom: 10px;    
}
.stretch-content {
     width: 370px;  
     position: relative;
     bottom: 10px;  
}
.gym-content {
    width: 300px; 
    position: relative;
    bottom: 10px; 
}